/*--------------------------
    COMMON
---------------------------*/

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
}



/*-------------------------
    MAIN
--------------------------*/


main {
    background-color: black;
    width: 100%;
    height: calc(100vh - 6.25rem);
}


/*____ASIDE MENU____*/



/*ASIDE MENU SMALL FOR RESPONSIVE UNDER 600PX*/

.aside-menu-small {
    background-color: aliceblue;
    display: none;
    width: 3.125rem;
    height: calc(100vh - 6.25rem);
}


/*ASIDE MENU BIG FOR RESPONSIVE > THAN 600PX*/

.aside-menu {
    width: 14.0625rem;
    height: calc(100vh - 6.25rem);
    padding-left: 1.25rem;
    position: relative;
}

.aside-menu .logo img {
    width: 70%;
    padding-bottom: 1.25rem;
}

.aside-menu-top img {
    width: 13%;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: .625rem;
}

.library {
    padding-bottom: 1.25rem;
}

.aside-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.aside-menu ul a {
    text-decoration: none;
    color: rgb(163, 163, 163);
    font-size: 0.8rem;
    font-weight: bold;
}

.aside-menu ul a:hover {
    color: white;
}

.aside-menu-bottom > *{
    padding-bottom: .625rem;
}

#new-playlist {
    color: rgb(163, 163, 163);;
}

.playlist-aside-menu {
    height: calc(50vh - 6.25rem);
    overflow-y: auto;
}

.playlist-aside-menu ul > * {
    padding-bottom: 1.25rem;
}

.new-playlist a {
    text-decoration: none;
    color: rgb(163, 163, 163);
    font-size: 1rem;
    font-weight: bold;
    vertical-align: middle;
}

.new-playlist a:hover, .hover-icon:hover {
    color: white;
}

.new-playlist :first-child {
    display: inline-block;
    vertical-align: middle;
}


.client-name {
    position: relative;
    z-index: 0;
}



/*____MAIN MENU____*/


.main-menu {
    background-color: rgba(20,25,34,255);
    width: calc(100% - 14.0625rem);
    height: calc(100vh - 6.25rem);
    overflow-y: auto;
    
}


/*THE HEADER OF THE MAIN MENU WITH THE UPGRADE BUTTON*/

.header-main-menu {
    width: 100%;
    background-color: rgba(8, 11, 18, 0.5);
    text-align: end;
    position: sticky;
    top: 0;
    z-index: 99;
}


.button-style {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 1.25rem;
    padding: .75rem 2.8rem;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 1.5625rem .9375rem;
    opacity: 1;
}

.header-main-menu button:hover {
    transform: scale(1.1);
}
    

/*MENU TOP ON THE MAIN IN EVIDENZA/PODCAST...ETC*/

.main-menu .container {
    color: rgb(163, 163, 163);
    padding-top: 20px;
    padding-bottom: 30px;
}

.main-menu .container .col-1-6 h5 {
    padding: 0 .625rem;
}

.main-menu .container .col-1-6 h5:hover {
    color: white;
}

.col-1-6 h5 {
    position: relative;
    padding: 0.5rem 0.5rem;
}
  
.col-1-6 h5::before {
    width: 80%;
    
}

.col-1-6 h5:hover::before {
    content: "";
    position: absolute;
    bottom: -0.625rem;
    height: 2px; 
    background-color: green; 
    z-index: 1; 
}

  


/*RECENTLY PLAYED SECTION*/

.recently-played .song, .playlists, .artists {
    text-align: center;
}

.main-menu img {
    width: 100%;
}

.main-menu .container {
    justify-content: center;
}

.recently-played .song h3, .playlists h3, .artists h3{
    color: white;
    padding-top: .625rem;
}

.recently-played .song h6{
    color: rgb(163, 163, 163);
}

.songs-playlists {
    padding: 0 1.25rem;
}

.main-menu h2 {
    color: white;
}

.main-menu h6 {
    color: rgb(163, 163, 163);
    padding-top: 10px;
    padding-bottom: 1.25rem;
}

.recently-played {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1.875rem 0;
    margin: 0 -0.625rem;
}

.song {
    width: calc((100% / 6) - 1.25rem);
    margin: 0 .625rem;
    min-width: 10.625rem;
    margin-bottom: 1.25rem;
    
  
}


/*OVERLAY ON THE SONGS*/


.overlay-container {
    position: relative;
}

.overlay-icon {
    color: white;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,50%);
}

#overlay {
    position: absolute; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2; 
    cursor: pointer; 
}

.song:hover #overlay {
    display: inline-block;
}


/*PLAYLISTS CREATED FOR THE CLIENT*/

.playlists {
    display: flex;
    justify-content: flex-start;
}

.playlists .col-1-2 {
    width: calc((100% / 6) - 1.25rem);
    margin-right: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
}


/*ARTISTS SECTION*/

.artists {
    display: flex;
}

.artists .col-1-2 {
    width: calc((100% / 6) - 1.25rem);
    margin-right: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
}

.artists img {
    border-radius: 50%;
    object-fit: cover;
}


/*-------------------------
    FOOTER
--------------------------*/

footer {
    background-color: rgba(40,40,40,255);
    width: 100%;
    height: 6.25rem;
    position: relative;
    z-index: 99;
}

footer .container {
    height: 6.25rem;
    justify-content: space-between;
    color: white;
}

.col-1-3 {
    height: 100%;
}



/*-------------------------
    RESPONSIVE
--------------------------*/



/*-----TABLET MAX WIDTH 1100PX------*/

@media screen and (max-width: 1100px) {
    
    /*-------------------------
             MAIN
    --------------------------*/

    .main-menu .container {
        flex-wrap: wrap;
    }
    
    .songs-playlists .col-1-6 {
        min-width: fit-content;
        
    }

    .main-menu .container .col-1-6 h5 {
        margin-bottom: 1.25rem;
    }

    .song {
        width: calc((100% / 4) - 1.25rem);
    }

    .playlists .col-1-2 {
        width: calc((100% / 4) - 1.25rem);
    }
    
    .artists .col-1-2 {
        width: calc((100% / 4) - 1.25rem);
        
    }

}



/*------MOBILE S MAX WIDTH 700PX-----*/

@media screen and (max-width: 700px) {

    .song {
        width: calc((100% / 2) - 1.25rem);
    }

    .playlists .col-1-2 {
        width: calc((100% / 2) - 1.25rem);
    }
    
    .artists .col-1-2 {
        width: calc((100% / 2) - 1.25rem);
        
    }

}
    

/*------MOBILE XS MAX WIDTH 600PX----*/

@media screen and (max-width: 600px){

    .aside-menu {
        display: none;
    }

    .main-menu {
        width: calc(100vw - 3.125rem)
    }

    .aside-menu-small {
        display: block;
    }
}

/*------MOBILE S MAX WIDTH 400PX-----*/

@media screen and (max-width: 400px) {

    .song {
        margin: 1.25rem auto;
    }

    
}




/*-------------------------
    DEBUG
--------------------------*/


/*MAIN*/








/*FOOTER*/


.debug footer .col-1-3 {
    border: 1px solid yellow;
}
