/*--------------------------
    COMMON
---------------------------*/

body {
    font-family: 'Montserrat', sans-serif;
}

.conteiner {
    display: flex;
    flex-wrap: nowrap;
}




/*-------------------------
    MAIN
--------------------------*/

main {
    background-color: black;
    width: 100%;
    height: calc(100vh - 6.25rem);
}

.aside-menu {
    width: 14.0625rem;
    height: calc(100vh - 6.25rem);
}

.main-menu {
    background-color: rgba(20,25,34,255);
    width: calc(100% - 14.0625rem);
}

.header-main-menu {
    width: 100%;
    background-color: rgba(8,11,18,255);
    opacity: 0.5;
}


/*-------------------------
    FOOTER
--------------------------*/

footer {
    background-color: rgba(40,40,40,255);
    width: 100%;
    height: 6.25rem;
    
}

footer .conteiner {
    height: 6.25rem;
}

.col-1-3 {
    width: calc(100% / 3);
    height: 100%;
}



/*-------------------------
    RESPONSIVE
--------------------------*/

/*MOBILE MIN WIDTH */


/*TABLET MIN WIDTH */


/*DESKTOP MIN WIDTH*/


/*-------------------------
    DEBUG
--------------------------*/


/*MAIN*/

.debug .aside-menu {
    border: 2px dashed white;
}

.debug .header-main-menu {
    border: 2px dashed white;
    height: 5.625rem;
}

/*FOOTER*/


.debug footer .col-1-3 {
    border: 1px solid yellow;
}