/*--------------------------
    COMMON
---------------------------*/

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
}




/*-------------------------
    MAIN
--------------------------*/

main {
    background-color: black;
    width: 100%;
    height: calc(100vh - 6.25rem);
}

.aside-menu {
    width: 14.0625rem;
    height: calc(100vh - 6.25rem);
}

.main-menu {
    background-color: rgba(20,25,34,255);
    width: calc(100% - 14.0625rem);
    height: calc(100vh - 6.25rem);
    overflow: scroll;
    
}

.header-main-menu {
    width: 100%;
    background-color: rgba(8,11,18,255);
    text-align: end;
    position: sticky;
    top: 0;
}



.button-style {
    background-color: rgba(8,11,18,255);
    color: white;
    border: 2px solid white;
    border-radius: 1.25rem;
    padding: .75rem 2.8rem;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 1.5625rem .312rem;
}

.songs-playlists {
    padding: 0 1.25rem;
}

.main-menu .container {
    justify-content: center;
}

.main-menu .container .col-1-6 h5 {
    padding: 1.25rem .625rem 2.5rem .625rem;
}

.main-menu h2 {
    color: white;
}

.main-menu h6 {
    color: white;
    padding-top: 10px;
    padding-bottom: 1.25rem;
}

.recently-played {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1.875rem 0;
    margin: 0 -0.625rem;
}

.song {
    width: calc((100% / 6) - 1.25rem);
    margin: 0 .625rem;
   
    
    
}

.playlists {
    display: flex;
    justify-content: flex-start;
}

.playlists .col-1-2 {
    width: calc((100% / 6) - 1.25rem);
    margin-right: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
}


.artists {
    display: flex;
}

.artists .col-1-2 {
    width: calc((100% / 6) - 1.25rem);
    margin-right: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;

}


/*-------------------------
    FOOTER
--------------------------*/

footer {
    background-color: rgba(40,40,40,255);
    width: 100%;
    height: 6.25rem;
    
}

footer .container {
    height: 6.25rem;
}

.col-1-3 {
    width: calc(100% / 3);
    height: 100%;
}



/*-------------------------
    RESPONSIVE
--------------------------*/

/*MOBILE MIN WIDTH */


/*TABLET MIN WIDTH */


/*DESKTOP MIN WIDTH*/


/*-------------------------
    DEBUG
--------------------------*/


/*MAIN*/

.debug .aside-menu {
    border: 2px dashed white;
}

.debug .main-menu .container {
    color: white;
}

.debug .song {
    height: 250px;
    border: 2px solid white;
    
}

.debug .playlists .col-1-2 {
    height: 250px;
    border: 2px solid white;
}

.debug .artists .col-1-2 {
    height: 250px;
    border: 2px solid white;
}

/*FOOTER*/


.debug footer .col-1-3 {
    border: 1px solid yellow;
}
